.bgLayout  {
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:  center;
    background-size: cover; 
    /* opacity: 0.8; */
     /* filter: grayscale(50%) blur(5px); */
    /* z-index: 2; */

}